
body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(163, 74, 247);    
}

#triviagame {
    font-size: 120px;
    margin-right: 40px;
    padding: 10px;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: right;


}

#timer {
    font-size: 40px;
    float: none;
    margin-top: 1px;
    margin-bottom: 40px;
    border: black;
    font-style: oblique;
    font-weight: bolder;
    padding-left: 120px;
    color: gold;
}

#quiz {
    margin-left: 10px;
    background: yellowgreen;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    float: left;

}

input {
    margin-bottom: 20px;
}

#button {
    background: blue;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 16px;
    transition-duration: .5s;
    margin-top: 15px

}

#button:hover{
    background:white;
    border: 1px solid green;
    color: black;
    cursor: pointer;
}



#after_submit {
    visibility: hidden;
    background: #ff5459;
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 20px;
    float: left;
    margin-left: 20px;
    font-size: 30px;
}

#display {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    color: black;

    text-align: center;
}